
.functionsIntro {
    margin: 5px;
}

.functionDef {
    margin: 10px;
}

.functionarg {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    background-color: #cccccc;
    overflow: scroll;
    margin: 3px;
}

.functionname {
    font-weight: bold;
    font-family: monospace;
    font-size: 1.5em;
    margin-left: -5px;
}

.functionDescription {
   font-family: sans-serif;
   font-style: italic;
}
.functionreturns {
   font-family: sans-serif;

}
.functioninlibrary {
   font-family: sans-serif;

}
